body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #ff6f61;
    color: white;
    padding: 20px;
    font-size: 24px;
}

#gallery, #video, #messages {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.images-img {
    width: 30%;
    margin: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

video {
    width: 80%;
    border-radius: 10px;
    width: 380px;
    height: 300px;
}

textarea {
    width: 80%;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#messageList {
    margin-top: 20px;
    padding: 10px;
    background: #fff3e6;
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
}

footer {
    background: #ff6f61;
    color: white;
    padding: 10px;
    margin-top: 20px;
}